<div class="row">
    <div class="small-8 small-centered columns">
        <h1>
            {{title}}
        </h1>
        <ul>
            <li class="text" *ngFor="let item of (items | async)">
                <span class="label">{{item._programador}}</span> {{item._contenido}}
                <button class="alert button" (click)="deleteItem(item)">Borrar tarea</button>
            </li>
        </ul>

         <div> 
            <input type="text" #contenido placeholder="Contenido de la tarea" />
            <input type="text" #programador placeholder="Programador que se ocupa" />
            <input type="number" #horas placeholder="Horas de trabajo" />
            <button class="hollow button" (click)="addItem(contenido.value,programador.value ,horas.value)">Anotar</button>
        </div>
    </div>
</div>