<div class="blackboard">

    <div class="medium-6 columns">
        <h3>To do</h3>

        <div *ngFor="let item of (todos  )" [dragula]='"bag-one"' [dragulaModel]='todos'>

            <br/>
            <div id="{{item.$key}}" class="note">
                <button (click)="deleteItemToDo(item)" class="close-classic"></button>
                <span class="label">{{item._programador}}</span>
                <br/> {{item._contenido}}
            </div>

        </div>
    </div>


    <div class="medium-6 columns">
        <h3>In progress</h3>

        <div *ngFor="let item of (cosos | async )" [dragula]='"bag-one"' [dragulaModel]='todos'>

            <br/>
            <div class="note">
                <button (click)="deleteItemInProgress(item)" class="close-classic"></button>
                <span class="label">{{item._programador}}</span>
                <br/> {{item._contenido}}
            </div>

        </div>


        <div [dragula]='"bag-one"' [dragulaModel]='todos'>
            <br/>

        </div>

    </div>


</div>
<router-outlet></router-outlet>