<div class="blackboard">
    <div row>
        <div class="four wide column">
            <h3>To do</h3>
            <div id="todo" *ngFor="let item of todos" [dragula]='"bag-one"' [dragulaModel]='todos'>
                <div id="{{item.$key}}" class="note">
                    <button (click)="deleteItem('todo',item)" class="close-classic"></button>
                    <span class="label">{{item._programador}}</span>
                    <br/> {{item._contenido}}
                </div>
            </div>
        </div>


        <div column="3">
            <h3>In progress</h3>
            <div id="inprogress" *ngFor="let item of inprogress" [dragula]='"bag-one"' [dragulaModel]='inprogress'>
                <div id="{{item.$key}}" class="note">
                    <button (click)="deleteItem('inprogress',item)" class="close-classic"></button>
                    <span class="label">{{item._programador}}</span>
                    <br/> {{item._contenido}}
                </div>
            </div>
        </div>

        <div column="3">
            <h3>Testing</h3>
            <div id="testing" *ngFor="let item of testing" [dragula]='"bag-one"' [dragulaModel]='testing'>
                <div id="{{item.$key}}" class="note">
                    <button (click)="deleteItem('testing',item)" class="close-classic"></button>
                    <span class="label">{{item._programador}}</span>
                    <br/> {{item._contenido}}
                </div>
            </div>
        </div>

        <div column="3">
            <h3>Done</h3>
            <div id="done" *ngFor="let item of done  " [dragula]='"bag-one"' [dragulaModel]='done'>
                <div id="{{item.$key}}" class="note">
                    <button (click)="deleteItem('done',item)" class="close-classic"></button>
                    <span class="label">{{item._programador}}</span>
                    <br/> {{item._contenido}}
                </div>
            </div>
        </div>
    </div>

    <p class='center--all'><a href="#modal" class='button'>Open Modal</a></p>



</div>




<router-outlet></router-outlet>