<div class="row">
    <div class="small-10 small-centered columns">
        <fieldset class="fieldset">
            <legend>Crear nueva tarea</legend>

            <div class="medium-6 columns">

                <input type="text" #programador placeholder="Programador que se ocupa" />
                <textarea #contenido placeholder="Contenido de la tarea">  </textarea>
            </div>
            <div class="medium-6 columns">
                <input type="number" #horas placeholder="Horas de trabajo" />
                <button class="success button" (click)="addItem(contenido.value,programador.value ,horas.value)">Anotar</button>
            </div>
        </fieldset>
    </div>
</div>