<div container>

    <fieldset class="fieldset">
        <legend>Crear nueva tarea</legend>

        <div column="6">

            <input type="text" #programador placeholder="Programador que se ocupa" />
            <p> </p>
            <textarea #contenido placeholder="Contenido de la tarea">  </textarea>
        </div>
        <div column="6">
            <input type="number" #horas placeholder="Horas de trabajo" />
            <p> </p>
            <a href="/board" class="success button" (click)="addItem(contenido.value,programador.value ,horas.value)">Anotar</a>
        </div>
    </fieldset>
</div>