<div class="blackboard">

    <div class="medium-6 columns">

        <ul>
            <li class="sinVinyeta" *ngFor="let item of (items | async)" [dragula]='"bag-one"' [dragulaModel]='items'>
                <div class="note">
                      <button (click)="deleteItem(item)" class="close-classic"></button>
                    {{item._programador}} : {{item._contenido}}
                </div>

            </li>
        </ul>
    </div>

    <div class="medium-6 columns">

        <ul>
            <li class="sinVinyeta" *ngFor="let coso of cosos" [dragula]='"bag-two"' [dragulaModel]='cosos'>
                <div class="note">
                    {{coso}}
                </div>
            </li>

        </ul>
    </div>
</div>
<router-outlet></router-outlet>