<div class="blackboard">

    <div class="medium-6 columns">

        <h3>To Do</h3>
        <ul [dragula]='"bag-one"' [dragulaModel]='items'>
            <li class="sinVinyeta" *ngFor="let item of (items | async )">
                <div class="note">
                    <button (click)="deleteItemToDo(item)" class="close-classic"></button>
                    <span class="label">{{item._programador}}</span>
                    <br/> {{item._contenido}}
                </div>
            </li>
        </ul>
    </div>

    <div class="medium-6 columns">
        <h3>In progress</h3>

        <ul [dragula]='"bag-two"' [dragulaModel]='cosos'>
            <li class="sinVinyeta" *ngFor="let item of (cosos | async )">
                <div class="note">
                    <button (click)="deleteItemInProgress(item)" class="close-classic"></button>
                    <span class="label">{{item._programador}}</span>
                    <br/> {{item._contenido}}
                </div>
            </li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>