<div class="row">
    <div class="small-10 small-centered columns">
        <h1>
            {{title}}
        </h1>
        <table>
            <thead>
                <tr>
                    <th width="300">Tarea</th>
                    <th width="150">Programador</th>
                    <th width="50">Horas</th>
                    <th width="150">Borrar</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let item of (items | async)">
                    <td> {{item._contenido}} </td>
                    <td>{{item._programador}}</td>
                    <td> {{item._horas}} </td>
                    <td> <button class="alert button" (click)="deleteItem(item)">Borrar tarea</button> </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>


<router-outlet></router-outlet>
