<div class="container">
    <form (ngSubmit)="onSubmit()" class="form" #signup="ngForm">
        <fieldset class="fieldset">
            <legend>Crea usuario</legend>

            <ngb-alert *ngIf="problemWithSignUp" type="danger" (close)="problemWithSignUp = false">
                <strong>Error!</strong> {{issue}}
            </ngb-alert>

            <ngb-alert *ngIf="passNotLongEnough" type="danger" (close)="passNotLongEnough = false">
                <strong>Error!</strong> La longitud de la contraseña ha de ser mayor o igual a 6 caracteres
            </ngb-alert>

            <ngb-alert *ngIf="passNotMAtch" type="danger" (close)="passNotMAtch = false">
                <strong>Error!</strong> Las contraseñas no coinciden
            </ngb-alert>

            <div column="6">

                <input class="form-control" required type="text" required [(ngModel)]="name" name="name" placeholder="Nombre" />
                <p> </p>
                <input class="form-control" required type="text" required [(ngModel)]="surname" name="surname" placeholder="Apellido" />
                <p> </p>
                <input class="form-control" required type="email" required [(ngModel)]="email" name="email" placeholder="Email" />
                <p> </p>
                <input class="form-control" required type="password" required [(ngModel)]="password" name="password" placeholder="Contraseña"
                />
                <p> </p>
                <input class="form-control" required type="password" required [(ngModel)]="passwordAgain" name="passwordAgain" placeholder="Repite tu contraseña"
                />
                <hr/>
                <button class="btn btn-warning">Registrar</button>
            </div>

        </fieldset>
    </form>
</div>