<div class="main">
    <section class="scrollLateral">

        <div *ngFor="let column of columns">
            <div class="scrollDiv">
                <app-column (editColName)="onEditCol($event)" (createTaskFromIssue)="onTaskFromIssue($event)" (createTask)="onCreateTask($event)" (logHoursEmmiter)="onLogHours($event)" (emmitUpdate)="onEmmitUpdate($event)" [gitHubRepo]="gitHubRepo" [boardKey]="board"
                    [colKey]="column.$key" [colName]="column._columnName">
                </app-column>
            </div>
        </div>
        <div class="scrollDiv-new">

            <button name="createCol" class="button btn-main" (click)="showDialog()">Create Column</button>
        </div>
    </section>



    <p-dialog [width]="600" height="250" [draggable]="false" [modal]="true" header="Crear Columna" [(visible)]="showModal">
        <createColumn [colName]="" [board]="board" (notify)="closeDialog()"></createColumn>
    </p-dialog>

    <p-dialog [width]="600 " height="450 " [draggable]="false " [modal]="true " header="Crear Tarea " [(visible)]="showCreateTaskDialog">
        <createTask [colKey]="colKey" [board]="board" (notify)="closeCreateTaskDialog()"></createTask>
    </p-dialog>

    <p-dialog [width]="1200" [draggable]=" false " [modal]="true " header="GitHubIssues " [(visible)]="showModalGit ">
        <github-issues [gitHubRepo]="gitHubRepo " [column]="colKey" [board]="board" (notify)="closeDialog() "></github-issues>
    </p-dialog>

    <p-dialog [width]="600 " height="250 " [draggable]="false " [modal]="true " header="Editar Columna " [(visible)]="showModalCol">
        <createColumn [colKey]="colKey" [editing]="true" [colName]="colName" [board]="board" (notify)="closeDialogCol() "></createColumn>
    </p-dialog>

    <p-dialog [width]="600 " height="320 " [draggable]="true " [modal]="true " header="Cargar horas " [(visible)]="showLogWork ">
        <label>Horas estimadas&nbsp;:</label> {{currentNote.horas}}
        <br>
        <label>Horas trabajadas:</label> {{currentNote.workedHours}}
        <br>
        <label>Cargar horas</label>
        <input name="inputCargarHoras" class="input-modal" type="number" #horas placeholder="Cargue aquí sus horas" />
        <br>
        <button name="cargarHoras" class="button btn-main" (click)="logHours(horas.value)">Cargar horas</button>
    </p-dialog>

    <p-dialog [width]="1200 " height="600 " [draggable]="false " [modal]="true " header="Información Tarea" [(visible)]="showInfo ">
        <note-extended (close)="onClose($event)" (git)="onGit($event)" (load)="onLoad($event)" (update)="onUpdateInfo($event)" (delete)="onDelete($event)" [note]="currentNote"></note-extended>
    </p-dialog>

</div>

<router-outlet></router-outlet>