<div class="container">
    <form (ngSubmit)="onSubmit()" #createBoard="ngForm">
        <fieldset class="fieldset">
            <div column="6">
                <label>Nombre del tablero</label>
                <input class="input-modal" required type="text" required [(ngModel)]="name" name="name" placeholder="Nombre del tablero" />
                <p> </p>
                <label>Fecha vencimiento</label>
                <input class="input-modal" required type="date" required [(ngModel)]="date" name="date" placeholder="Fecha de vencimiento" />
                <p> </p>
                <label *ngIf="!editing">Colaboradores (opcional)</label>
                <input *ngIf="!editing" class="input-modal" type="text" [(ngModel)]="mails" name="mails" placeholder="Email(s)" />
                <small *ngIf="!editing" id="emailHelp" class="form-text text-muted">Introduce el email de los colaboradores que desees, separado por comas ej: <strong>pep@scrumme.es,cr7@scrumme.es</strong></small>
                <label *ngIf="!editing">Columnas (opcional)</label>
                <input *ngIf="!editing" class="input-modal" type="text" [(ngModel)]="columns" name="columns" placeholder="Columna(s)" />
                <small *ngIf="!editing" id="emailHelp" class="form-text text-muted">Introduce separadas por comas las columnas iniciales de tablero</small>
                <label>Repositorio de github (opcional)</label>
                <input class="input-modal" type="text" [(ngModel)]="gitHubRepo" name="gitHubRepo" placeholder="https://github.com/myuser/myrepo" />
                <small id="emailHelp" class="form-text text-muted">Introduce la url del repositorio asociado : https://github.com/nacho1014/ScrumMe </small>
                <label>Integración con Travis CI</label>
                <input class="input-modal" type="text" [(ngModel)]="travisRepo" name="travisRepo" placeholder="https://travis.com/myuser/myrepo" />
                <small id="emailHelp" class="form-text text-muted">Introduce la url de la build asociada en travis</small>
                <p> </p>
                <hr/>
                <button class="button btn-main-block">{{buttonMessage}}</button>
            </div>
        </fieldset>
    </form>
</div>