<div class="container">
    <form (ngSubmit)="onSubmit()" class="form" #createBoard="ngForm">
        <fieldset class="fieldset">
            <div column="6">
                <input class="form-control" required type="text" required [(ngModel)]="name" name="name" placeholder="Nombre del tablero" />
                <p> </p>
                <input class="form-control" required type="date" required [(ngModel)]="date" name="date" placeholder="Fecha de vencimiento" />
                <p> </p>
                <hr/>
                <button style="align: center" class="btn btn-warning">Crear tablero</button>
            </div>
        </fieldset>
    </form>
</div>