<form (ngSubmit)="onSubmit()" container #createTask="ngForm">
    <label>Estima tu tarea, en días de trabajo</label>
    <input class="form-control" required type="number" required [(ngModel)]="horas" name="horas" placeholder="Horas de trabajo">
    <p> </p>
    <label>Contenido de la tarea</label>
    <textarea class="form-control form-control-lg" required [(ngModel)]="contenido" name="contenido" placeholder="Contenido de la tarea">  </textarea>
    <hr/>
    <button href="/board" class="btn btn-warning btn-block"> {{action}} </button>
</form>