<div id="noteKey" class="card" draggable="true">
    <header>
        <div><strong> {{titleLimited()}} </strong> <small> : {{note.programador}}</small> </div>
        <i style="float: right" class="fa fa-ellipsis-h" aria-hidden="true" (click)="menu.toggle($event)"></i>
    </header>
    <div class="card-content">
        <p class="text" *ngIf="!note.closed">{{contentLimited()}}</p>
        <del class="text" *ngIf="note.closed">{{contentLimited()}}</del>
        <div *ngIf="!note.closed">
            <div class="percentage"> <strong> {{percentage}}   </strong></div>
        </div>
    </div>
</div>
<p-menu id={{titleLimited()}} #menu popup="popup" [model]="options"></p-menu>


<p-dialog [width]="1200 " height="600 " [draggable]="false " [modal]="true " header="Información Tarea" [(visible)]="showInfo ">
    <note-extended (close)="onClose($event)" (git)="onGit($event)" (load)="onLoad($event)" (update)="onUpdate($event)" (delete)="onDelete($event)" [note]="note"></note-extended>
</p-dialog>


<p-dialog [width]="600 " height="320 " [draggable]="true " [modal]="true " header="Cargar horas " [(visible)]="showLogWork ">
    <label>Horas estimadas:</label> {{note.horas}}
    <br>
    <label>Horas trabajadas:</label> {{note.workedHours}}
    <br>
    <label>Cargar horas</label>
    <input name="inputCargarHoras" class="input-modal" type="number" #horas placeholder="Cargue aquí sus horas" />
    <br>
    <button name="cargarHoras" class="button btn-main" (click)="logHours(horas.value)">Cargar horas</button>
</p-dialog>