@import "~variables.scss";
@import "~componentes.scss";
.card {
    display: inline-flex;
    flex-direction: column;
    border-left: 10px solid $secondary-color;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    min-width: 280px;
    max-width: 280px;
    height: 130 px;
    max-height: 130px;
    border-radius: 2%;
    background: $bg-white-color;
    header {
        height: 50px;
        text-align: center;
        display: flex;
        justify-content: space-between;
        border-bottom: lightgray 1px solid;
        margin-left: 2%;
        margin-right: 2%;
    }
    .card-content {
        margin: 2%;
        display: flex;
        justify-content: space-between;
        vertical-align: middle;
        align-items: center;
        height: 150px;
        .percentage {
            font-size: 18px;
            width: 50px;
        }
        .percentage:after {
            content: '%';
            font-size: 12px;
        }
        .text {
            margin: 2%;
            width: 240px;
            word-wrap: break-word;
            display: flex;
            overflow: hidden;
        }
    }
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.dragHere {
    margin: 5px 5px 5px 5px;
    height: 80vh;
    border: dashed;
    color: gray;
    border-color: gray;
    text-align: center
}

i:hover {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.footer-note {
    display: block;
    margin: 5px;
    progress {
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: solid 0.5px lightgray;
        border-radius: 0.5%;
    }
    progress::-webkit-progress-bar {
        background: white;
        border-radius: 5%;
    }
    progress::-webkit-progress-value {
        background-color: $secondary-color;
        border-radius: 0.5%;
    }
    progress::-moz-progress-bar {
        background-color: $secondary-color;
        border-radius: 0.5%;
        background: white;
    }
    background: $bg-white-color;
}