.col-header {
    display: flex;
    margin: 2px;
    min-height: 10px;
    height: 20px;
}

.col-header-buttons {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 10px;
    margin-right: 10px;
}

.ui-menu {
    width: 4em;
    background: red;
}

.ui-splitbutton {
    width: 4em;
}

.ui-splitbutton-button {
    width: 4em;
}

.dragHere {
    border: gray dashed 1px;
    padding: 1em;
    text-align: center;
    height: 82vh;
}