<header class="col-header">
    <h4>{{colName}}</h4>
    <div class="col-header-buttons">

        <p-splitButton iconPos="left" label="Opciones" [model]="options"></p-splitButton>

    </div>
</header>
<hr/>
<div id="{{colKey}}" *ngFor="let item of notes" [dragula]='"bag-one"' [dragulaModel]='notes'>
    
    <div class="dragHere" *ngIf="item._contenido==='none' && notes.length ==1">
        Drag Here! or create new task<br/>
    </div>

    <note id="{{item.$key}}" *ngIf="item._contenido!='none'" (notify)="onNotify(columnName,$event)" [note]="item"></note>
</div>

<p-dialog [width]="600" height="400" [draggable]="false" [modal]="true" header="Crear tarea" [(visible)]="showModal">
    <createTask [colKey]="colKey" [board]="boardKey" (notify)="closeDialog()"></createTask>
</p-dialog>
