<header class="col-header">
    <h5>{{colName}}</h5>
    <p-menu #menu popup="popup" [model]="options"></p-menu>
    <i class="fa fa-ellipsis-h" aria-hidden="true" (click)="menu.toggle($event)"></i>
</header>
<hr/>


<div id="{{colKey}}" *ngFor="let item of notes" [dragula]='"bag-one"' [dragulaModel]='notes'>

    <note id="{{item.$key}}" (notify)="onNotify(columnName,$event) " [board]="boardKey " [colKey]="colKey " [note]="item " [noteKey]="item.$key"></note>

</div>

<div id="{{colKey}}" style="width:280px" [dragula]='"bag-one"' [dragulaModel]='notesToDispose'>

    <br *ngIf="size !==0" />
    <div *ngIf="size ===0" class="dragHere"> Arrastra aquí o crea una nueva tarea</div>

</div>



<p-dialog [width]="600 " height="250 " [draggable]="false " [modal]="true " header="Editar Columna " [(visible)]="showModalCol ">
    <createColumn [colKey]="colKey " [editing]="true " [colName]="colName " [board]="boardKey " (notify)="closeDialogCol() "></createColumn>
</p-dialog>


<p-dialog [width]="600 " height="400 " [draggable]="false " [modal]="true " header="Crear Tarea " [(visible)]="showModal">
    <createTask [editing]="true " [colKey]="colKey " [board]="boardKey " (notify)="closeDialog() "></createTask>
</p-dialog>






<!--
<note id="{{item.$key}}" *ngIf="item._contenido!='none'" (notify)="onNotify(columnName,$event)" [note]="item"></note>
-->