<section id="noteKey" class="card" draggable="true">
    <header class="card-header">{{note.titulo}} : {{note.programador}}
        <i class="fa fa-ellipsis-h" aria-hidden="true" (click)="menu.toggle($event)"></i>
    </header>
    <div class="card-content">
        <p *ngIf="!note.closed">{{note.contenido}}</p>
        <del *ngIf="note.closed">{{note.contenido}}</del>
    </div>
    <footer *ngIf="!note.closed" class="footer-note">
        <small>Trabajo realizado:</small>
        <progress value="{{note.workedHours}}" max="{{note.horas}}"></progress>
    </footer>
</section>
<p-menu #menu popup="popup" [model]="options"></p-menu>

<p-dialog [width]="600 " height="320 " [draggable]="false " [modal]="true " header="Cargar horas " [(visible)]="showLogWork ">
    <label>Horas estimadas:</label> {{note.horas}}
    <br>
    <label>Horas trabajadas:</label> {{note.workedHours}}
    <br>
    <label>Cargar horas</label>
    <input class="input-modal" type="number" #horas placeholder="Cargue aquí sus horas" />
    <br>
    <button class="button -main" (click)="logHours(horas.value)">Cargar horas</button>
</p-dialog>