[class*='close-'] {
    color: #777;
    background: transparent;
    font: 14px/100% arial, sans-serif;
    right: -10px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    top: 5px;
    float: right;
    padding-top: -5px;
}

.close-classic:after {
    content: 'X';
    /* ANSI X letter */
}

.close-thin:after {
    content: '×';
    /* UTF-8 symbol */
}

.close-thik:after {
    content: '✖';
    /* UTF-8 symbol */
}



.note {
    min-width: 240px;
    float: left;
    position: relative;
    width: 18%;
    background: palegoldenrod;
    margin: 10px 1.5% 0 1.5%;
    border-left: 1% solid #D4A464;
    padding: 2%;
    list-style-type: none;
    white-space: pre-wrap;
    /* css-3 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
    white-space: normal;
    transition: all 200ms ease-in-out;
}

.note:before {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    background: #333;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #D4A464;
}