<section id="noteKey" class="card" draggable="true">
    <header class="card-header">{{note._programador}}
        <i class="fa fa-ellipsis-h" aria-hidden="true" (click)="menu.toggle($event)"></i>
    </header>
    <div class="card-content">
        {{note._contenido}}
    </div>
    <footer class="footer-note">
        <small>Trabajo realizado:</small>
        <progress value="{{note._workedHours}}" max="{{note._horas}}"></progress>
    </footer>
</section>
<p-menu #menu popup="popup" [model]="options"></p-menu>

<p-dialog [width]="600 " height="300 " [draggable]="false " [modal]="true " header="Cargar horas " [(visible)]="showLogWork ">
    <label>Horas estimadas:</label> {{note._horas}}
    <br>
    <label>Horas trabajadas:</label> {{note._workedHours}}
    <br>
    <label>Cargar horas</label>
    <input type="number" />
    <br>
    <button>Cargar horas</button>
</p-dialog>