@import "~variables.scss";
@import "~componentes.scss";


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    max-width: 280px;
    min-height: 150px;
    min-width: 280px;
    margin: 10px;
    border-radius: 2%;
    border-left: purple 4px;
}

.card-header {
    background: $secondary-color;
    height: 50px;
    color: $bg-white-color;
    display: flex;
    justify-content: space-between;
}

.card-content {
    padding: 2%;
    min-height: 100px;
    background: $bg-white-color;
}

.card-footer {
    background: $bg-white-color;
    display: flex;
    flex-direction: row-reverse;
}

.card-buttons {
    float: right;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.dragHere {
    margin: 5px 5px 5px 5px;
    height: 80vh;
    border: dashed;
    color: gray;
    border-color: gray;
    text-align: center
}

i:hover {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.footer-note {
    display: inline-flex;
}

