<header row class="siteHeader">
    <div column=4>
        <a routerLink="/">
            <h1 class="logo">ScrumMe</h1>
        </a>
    </div>
    <nav column=8 class="nav">
        <ul>
            <li *ngIf="authGuard._allowed"><a routerLink="/board">Tablero</a></li>
            <li *ngIf="authGuard ._allowed"><a routerLink="/form">Crear tarea</a></li>
            <li *ngIf="authGuard._allowed"><a routerLink="/login">Iniciar sesión</a></li>
            <li *ngIf="authGuard._allowed"><a routerLink="/signup">Crear usuario</a></li>
        </ul>
    </nav>
</header>
<router-outlet></router-outlet>