<nav class="navbar navbar-full navbar-light bg-faded">
    <a class="navbar-brand" routerLink="/">ScrumMe</a>
    <ul class="nav navbar-nav pull-right">
        <li *ngIf="auth!=null" class="nav-item">
            <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item" *ngIf="auth==null">
            <a class=" nav-link" routerLink="/login" href="# ">Iniciar sesión</a>
        </li>
        <li class="nav-item " *ngIf="auth==null ">
            <a class="nav-link" routerLink="/signup">Crear usuario</a>
        </li>
        <li class="nav-item " *ngIf="auth!=null" (click)="logout() ">
            <a class="nav-link">Cerrar sesión</a>
        </li>
    </ul>
</nav>


<router-outlet></router-outlet>