<div container>

    <div class="table--full">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre tablero</th>
                    <th scope="col">Fecha vencimiento</th>
                    <th scope="col">Ir al tablero</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let board of boards">
                    <td>{{board.name}}</td>
                    <td>{{board.date}}</td>
                    <td> <button (click)="goToBoard(board.$key)" class="bg--warning ">Ir al tablón</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="colapse">
        <createBoard (notify)="colapseEvent($event)"></createBoard>
    </div>
    <button (click)="onColapse()" class="button--full bg--warning ">{{createBoard}}</button>

</div>