    @import "~componentes.scss";
    td {
        color: white;
        vertical-align: middle;
    }
    
    .layout {
        display: inline-flex;
        flex-grow: 1;
        margin: 1.5%;
    }
    
    .inline {
        display: inline-flex;
        justify-content: space-between;
        width: 460px;
    }
    
    .tablon {
        background: $bg-white-color;
        width: 480px;
        border-radius: 2px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        transition: all .3s ease;
        padding: 0 10px;
        height: 270px;
        a {
            color: white;
        }
        .title {
            text-align: center;
            padding: 10px 0;
        }
        h3 {
            color: darken($success-color, 10%);
        }
        .delivery {
            font-size: 2.5em;
            line-height: 2em;
            border-radius: 50%;
            background-color: $success-color;
            height: 75px;
            width: 75px;
            color: #fff;
            margin-top: -6em;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            &:hover {
                transform: rotate(-45deg);
            }
        }
        .inline {
            margin-top: 2%;
            margin-bottom: 2%;
            display: inline-flex;
            justify-content: space-between;
            width: 460px;
        }
        .footer {
            display: flex;
            align-items: flex-end;
            float: right;
        }
        .iconButton {
            padding: 12px;
            color: white;
            background: $success-color;
            border-radius: 50%;
        }
        .iconButton:hover {
            transform: rotate(-45deg);
        }
        .status {
            margin: 1%;
            display: flex;
            align-items: flex-end;
            float: right;
            i {
                float: right;
                font-size: 25px;
            }
        }
    }