<div class="ui-g">
    <div class="ui-g-2"></div>
    <div class="ui-g-8">
        <div class="custom-table">
            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th scope="col">Tablero</th>
                        <th scope="col">Fecha vencimiento</th>
                        <th scope="col">Ir al tablero</th>
                        <th scope="col">Gráficos</th>
                        <th scope="col">Abandonar tablero</th>
                    </tr>
                </thead>
                <tbody class="customTBody">
                    <tr *ngFor="let board of boards">
                        <td class="aligned">{{board.name}}</td>
                        <td class="aligned">{{board.date}}</td>
                        <td> <a (click)="goToBoard(board.$key)" class="button -main">Ir al tablón</a> </td>
                        <td> <a (click)="menu.toggle($event); setBoard(board.$key)" class="button -main">Gráficos</a></td>
                        <td *ngIf="currentUser !== board.boardOwner"> <button (click)="deleteBoard(board.$key)" class="button -secondary">Borrar tablero</button></td>
                        <td *ngIf="currentUser === board.boardOwner"> <button (click)="stopColaboration(board.$key)" class="button -secondary">Dejar de colaborar</button></td>
                    </tr>
                </tbody>
            </table>
            <hr>

            <button (click)="showDialog()" class="button -main-block">Crear tablero</button>

            <p-dialog [draggable]="false" [modal]="true" header="Crear tablero" [(visible)]="showModal">
                <createBoard (notify)="closeDialog()"></createBoard>
            </p-dialog>
            <p-menu #menu popup="popup" [model]="options"></p-menu>


        </div>
    </div>
    <div class="ui-g-2"></div>

</div>