@import "~variables.scss";
input {
    color: #fff;
    background: transparent;
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 90%;
    border: none;
    border-bottom: 1px solid $main-color;
    &:hover {
        outline: 1px;
    }
    &:focus {
        outline: none;
        background: white;
        color: $bg-color;
    }
}

.title {
    size: 6em;
    margin-left: 5%;
    margin-top: 5%;
}

.chartDiv {
    margin: 5%;
    background: white;
    padding: 1%;
    border-radius: 0.5%;
}

.input-modal {
    color: $bg-color;
    background: transparent;
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 90%;
    border: none;
    border-bottom: 1px solid $main-color;
     :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: black;
    }
     ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: black;
    }
     :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: black;
    }
    &:hover {
        outline: 1px;
    }
    &:focus {
        outline: none;
        background: white;
        color: $bg-color;
    }
}

@mixin button-bg($bg) {
    background: $bg;
    &:hover {
        background: darken($bg, 8%);
        transition: all 0.3s ease;
    }
    &:active {
        background: darken($bg, 25%);
    }
}

.button {
    display: flex;
    overflow: hidden;
    margin: 10px;
    padding: 12px;
    min-width: 100px;
    cursor: pointer;
    user-select: none;
    transition: all 60ms ease-in-out;
    text-align: center;
    white-space: nowrap;
    text-transform: capitalize;
    color: #fff;
    border: 0 none;
    border-radius: 4px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    &:hover {
        transition: all 60ms ease;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    &:active {
        transition: all 60ms ease;
        opacity: .75;
    }
    &:focus {
        transition: all 60ms ease;
    }
}

.btn-main {
    @include button-bg($main-color);
}

.btn-main-block {
    width: 100%;
    @include button-bg($main-color);
}

.btn-secondary {
    @include button-bg($secondary-color);
}

.btn-secondary-block {
    width: 100%;
    @include button-bg($secondary-color);
}

.btn-success {
    @include button-bg($success-color);
}

.btn-warn {
    @include button-bg($warn-color);
}

.btn-light {
    @include button-bg($pink-color);
}

.btn-success-block {
    width: 100%;
    @include button-bg($success-color);
}

.btn-warn-block {
    width: 100%;
    @include button-bg($warn-color);
}

.btn-light-block {
    width: 100%;
    @include button-bg($pink-color);
}

.wrapper {
    width: 100px;
    /* Set the size of the progress bar */
    height: 100px;
    position: absolute;
    /* Enable clipping */
    clip: rect(0px, 100px, 100px, 50px);
    /* Hide half of the progress bar */
}


/* Set the sizes of the elements that make up the progress bar */

.wrapper {
    width: 100px;
    /* Set the size of the progress bar */
    height: 100px;
    position: absolute;
    /* Enable clipping */
    clip: rect(0px, 100px, 100px, 50px);
    /* Hide half of the progress bar */
}


/* Set the sizes of the elements that make up the progress bar */

.circle {
    width: 80px;
    height: 80px;
    border: 10px solid green;
    border-radius: 50px;
    position: absolute;
    clip: rect(0px, 50px, 100px, 0px);
}


/* Using the data attributes for the animation selectors. */


/* Base settings for all animated elements */

div[data-anim~=base] {
    -webkit-animation-iteration-count: 1;
    /* Only run once */
    -webkit-animation-fill-mode: forwards;
    /* Hold the last keyframe */
    -webkit-animation-timing-function: linear;
    /* Linear animation */
}

.wrapper[data-anim~=wrapper] {
    -webkit-animation-duration: 0.01s;
    /* Complete keyframes asap */
    -webkit-animation-delay: 3s;
    /* Wait half of the animation */
    -webkit-animation-name: close-wrapper;
    /* Keyframes name */
}

.circle[data-anim~=left] {
    -webkit-animation-duration: 6s;
    /* Full animation time */
    -webkit-animation-name: left-spin;
}

.circle[data-anim~=right] {
    -webkit-animation-duration: 3s;
    /* Half animation time */
    -webkit-animation-name: right-spin;
}


/* Rotate the right side of the progress bar from 0 to 180 degrees */

@-webkit-keyframes right-spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(180deg);
    }
}


/* Rotate the left side of the progress bar from 0 to 360 degrees */

@-webkit-keyframes left-spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}


/* Set the wrapper clip to auto, effectively removing the clip */

@-webkit-keyframes close-wrapper {
    to {
        clip: rect(auto, auto, auto, auto);
    }
}

.inline {
    display: inline-flex;
    align-content: space-between;
}