<div>
    <section class="scrollLateral">

        <div *ngFor="let column of columns">

            <div class="scrollDiv">
                <app-column [name]="column._columnName" [columnName]="column._columnName" [notes]="column._tasks"> </app-column>
            </div>
        </div>
    </section>

<button (click)="showDialog()" class="btn btn-warning btn-lg btn-block">{{createTask}}</button>
<p-dialog [width]="600" height="400" [draggable]="false" [modal]="true" header="Crear tarea" [(visible)]="showModal">
    <createTask [board]="board" (notify)="closeDialog()"></createTask>
</p-dialog>


</div>
<router-outlet></router-outlet>