.main {
    background: #32384D;
}

.scrollLateral {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.noteContainer {
    min-width: 284px;
    min-height: 20vh;
    border-left: 1% solid #D4A464;
}

.scrollDiv {
    background: #F8F8F8;
    overflow: scroll;
    height: 91vh;
    margin: 10px;
    min-width: 320px;
    display: flex;
    justify-content: center;
}

.scrollDiv-new {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
    margin: 10px;
    padding: 10px;
    min-width: 320px;
    border: #F7B733 dashed 2px;
}

::-webkit-scrollbar {
    display: none;
}