h3 {
    color: black;
}

body {
    height: 100%;
    background-size: cover;
     overflow:hidden;
}

.scrollLateral {
   overflow:hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.noteContainer {
    min-width: 284px;
    min-height: 20vh;
    border-left: 1% solid #D4A464;
}

.scrollDiv {
     overflow:scroll;
    height: 80vh;
}
::-webkit-scrollbar {
display: none;
}