h3 {
    color: white;
}

body {
    height: 100%;
    background-size: cover;
}

.dragHere {
    margin: 5px 5px 5px 5px;
    height: 70vh;
    border: dashed;
    border-color: gray;
    text-align: center
}

.dragHereTodo {
    margin: 5px 5px 5px 5px;
    height: 40vh;
    border: dashed;
    border-color: gray;
    text-align: center
}

.blackboard {
    position: relative;
    /*	width: 640px; */
    height: 90vh;
    border: tan solid 12px;
    border-top: #bda27e solid 12px;
    border-left: #b19876 solid 12px;
    border-bottom: #c9ad86 solid 12px;
    box-shadow: 0px 0px 6px 5px rgba(58, 18, 13, 0), 0px 0px 0px 2px #c2a782, 0px 0px 0px 4px #a58e6f, 3px 4px 8px 5px rgba(0, 0, 0, 0.5);
    background-color: #333;
}

.blackboard:before {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( 175deg, transparent, transparent 40px, rgba(120, 120, 120, 0.1) 100px, rgba(120, 120, 120, 0.1) 110px, transparent 220px, transparent), linear-gradient( 200deg, transparent 80%, rgba(50, 50, 50, 0.3)), radial-gradient( ellipse at right bottom, transparent, transparent 200px, rgba(80, 80, 80, 0.1) 260px, rgba(80, 80, 80, 0.1) 320px, transparent 400px, transparent);
    border: #2c2c2c solid 2px;
    font-size: 2.2em;
    color: rgba(238, 238, 238, 0.7);
    text-align: center;
    /*	padding-top: 20px; */
}

.noteContainer {
    min-width: 284px;
    min-height: 20vh;
    border-left: 1% solid #D4A464;
}

.scrollDiv {
    overflow-x: hidden;
    overflow-y: hidden;
    overflow: scroll;
    height: 80vh;
}