<div class="section-header">

    <div class="inline">
        <div>
            <h1>ScrumMe</h1>
            <p>Tú Kanban colaborativo online</p>
        </div>
    </div>
    <div class="mouse-icon hidden-xs">
        <div class="scroll"></div>
    </div>
</div>
<section class="section-info">
    <h1> Tableros colaborativos online</h1>
    <img src="https://www.logismarket.es/ip/manufacturas-medrano-tableros-de-corcho-tableros-de-corcho-con-marco-de-madera-de-pino-863023-FGR.jpg">
</section>

<section class="section-info">
    <img src="https://www.logismarket.es/ip/manufacturas-medrano-tableros-de-corcho-tableros-de-corcho-con-marco-de-madera-de-pino-863023-FGR.jpg">
    <h1> Tableros colaborativos online</h1>
</section>

<section class="section-info">
    <h1> Tableros colaborativos online</h1>
    <img src="https://www.logismarket.es/ip/manufacturas-medrano-tableros-de-corcho-tableros-de-corcho-con-marco-de-madera-de-pino-863023-FGR.jpg">
</section>