 @import "~variables.scss";
 @import "~componentes.scss";
 .main {
     height: 60vh;
     background-color: $bg-color;
     h1 {
         text-align: center;
         font-size: 10em;
         color: white;
     }
     .center {
         display: inline-flex;
         align-items: center;
         text-align: center;
         justify-content: space-around;
         padding-top: 100px;
         width: 100%;
     }
     h5 {
         color: white;
     }
     img {
         height: 300px;
         width: 300px;
     }
     .text {
     }
 }

 .section {
     height: 60vh;
     display: inline-flex;
     width: 100%;
     padding: 30%;
     align-content: space-around;
     h5 {
         color: white;
     }
 }