@import "~variables.scss";
@import "~variables.scss";
.topnav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $main-color;
    position: fixed;
    display: inline-flex;
    justify-content: space-between;
    top: 0;
    width: 100%;
    z-index: 30;
    a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: 0.3s;
        font-size: 17px;
        &:hover {
            background: darken($main-color, 10%);
        }
    }
    div {
        display: inline-flex;
        justify-content: space-between;
    }
    .hoverable {
        &:hover {
            background: darken($main-color, 10%);
        }
    }
}

.main {
    margin-top: 50px;
    /* Add a top margin to avoid content overlay */
}