@import "~variables.scss";
@import "~variables.scss";
.topnav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $main-color;
    position: fixed;
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
    top: 0;
    width: 100%;
    z-index: 30;
    div {
        display: inline-flex;
        justify-content: space-between;
        i {
            vertical-align: middle;
            align-self: center;
            color: white;
        }
        bell {
            align-self: center;
        }
        a {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            transition: 0.3s;
            font-size: 17px;
        }
    }
    .hoverable {
        &:hover {
            border-bottom: 2px solid white;
        }
    }
}

.main {
    margin-top: 50px;
    /* Add a top margin to avoid content overlay */
}