@import "~variables.scss";
@import "~componentes.scss";
.col-header {
    display: flex;
    justify-content: space-between;
    min-height: 10px;
    height: 20px;
    margin-top: 5%;
}

h5 {
    color: $bg-color;
}

.ui-menu {
    width: 4em;
}

.ui-splitbutton {
    width: 4em;
}

.ui-splitbutton-button {
    width: 4em;
}

.dragHere {
    border: gray dashed 1px;
    padding: 1em;
    height: 100px;
    width: 280px;
    margin: 10px;
}

i:hover {
    box-shadow: 0 10px 0px 0 rgba(0, 0, 0, 0.1);
}