<header class="col-header">
    <h5 id="column{{colName}}">{{colName}}</h5>
    <p-menu #menu popup="popup" [model]="options"></p-menu>
    <i class="fa fa-ellipsis-h" aria-hidden="true" (click)="menu.toggle($event)"></i>
</header>
<hr/>


<div id="{{colKey}}" *ngFor="let item of notes" [dragula]='"bag-one"' [dragulaModel]='notes'>

    <note id="{{item.$key}}" (update)="onUpdate($event)" (addWork)="onLogHours($event)" (createIssue)="createGitIssue($event)" (changeTaskState)="onChangeState($event)" (notify)="onDeleteTask($event) " [board]="boardKey " [colKey]="colKey " [note]="item "
        [noteKey]="item.$key"></note>

</div>

<div id="{{colKey}}" style="width:280px" [dragula]='"bag-one"' [dragulaModel]='notesToDispose'>

    <br *ngIf="size !==0" />
    <div id="contenedorvacio" *ngIf="size ===0" class="dragHere"> Arrastra aquí o crea una nueva tarea</div>

</div>