
<div class="portada">
    <div container>
        <h2 class="masthead-title kilo">ScrumMe</h2>

        <p class="white">
            Gestiona tus proyectos ágiles de manera colaborativa y en tiempo real.
        </p>

        <button class="button--lg">Saber mas</button>
    </div>
</div>

<main container class="siteContent">
    <div row>
        <div column=4>
            <h3>Genera tableros</h3>

            <p>Genera tus propios tableros para scrum</p>

            <a class="button button--sm">Saber mas &raquo;</a>
        </div>

        <div column=4>
            <h3>Colaborativa</h3>

            <p>Colabora con otros usuarios</p>

            <a class="button button--sm">Saber mas &raquo;</a>
        </div>

        <div column=4>
            <h3>Realtime</h3>

            <p>Todas las actualizaciones son en tiempo real!</p>

            <a class="button button--sm">Saber mas &raquo;</a>
        </div>


    </div>
</main>

<footer container class="siteFooter">
    <p>Copyright &copy; 2016 ScrumMe</p>
</footer>