<body class="main">

    <div class="ui-g">

        <div class="ui-g-3"> </div>


        <div class="ui-g-6">
            <h1> ScrumMe </h1>
            <p class="">Gestiona tus proyectos ágiles de manera colaborativa y en tiempo real
                <br>
            </p>

            <div>
                <a routerLink="/login" class="btn btn-warning m-y-1 text-xs-center">Inicia sesión</a>

                <a routerLink="/signup" class="btn btn-warning text-xs-center">Registrate</a>
            </div>
            <br/><br/><br/>

            <div class="mouse-icon hidden-xs">
                <div class="scroll"></div>
            </div>

        </div>

    </div>
    aaaa
    <div>
        
    </div>

</body>