<section class="section-main">
    <section class="section-main-in">
        <h1> Guía de estilo <strong>Scrumme</strong></h1>
        <h3>Colores</h3>

        <div class="inline">
            <div class="color-main"></div>
            <div class="color-main-dark"></div>
            <div class="color-secondary"></div>
            <div class="color-success"></div>
            <div class="color-warn"></div>
            <div class="color-pink"></div>
        </div>
        <h3>Colores sobre fondo</h3>

        <div class="inline dark">
            <div class="color-main"></div>
            <div class="color-main-dark"></div>
            <div class="color-secondary"></div>
            <div class="color-success"></div>
            <div class="color-warn"></div>
            <div class="color-pink"></div>
        </div>

        <h3>Botones básicos</h3>

        <div class="inline">
            <button class="button btn-main">Click me!</button>
            <button class="button btn-secondary">Click me!</button>
            <button class="button btn-success">Click me!</button>
            <button class="button btn-warn">Click me!</button>
            <button class="button btn-light">Click me!</button>
        </div>


        <section class="code">
            <div>
                <h6 class="highlighted"> &lt;button class="button btn-main"&gt; </h6>
                <h6> Click me! </h6>
                <h6 class="highlighted">&lt;/button&gt;</h6>
            </div>
            <div>
                <h6 class="highlighted"> &lt;button class="button btn-secondary"&gt; </h6>
                <h6> Click me! </h6>
                <h6 class="highlighted">&lt;/button&gt;</h6>
            </div>
            <div>
                <h6 class="highlighted"> &lt;button class="button btn-success"&gt; </h6>
                <h6> Click me! </h6>
                <h6 class="highlighted">&lt;/button&gt;</h6>
            </div>
            <div>
                <h6 class="highlighted"> &lt;button class="button btn-warn"&gt; </h6>
                <h6> Click me! </h6>
                <h6 class="highlighted">&lt;/button&gt;</h6>
            </div>
            <div>
                <h6 class="highlighted"> &lt;button class="button btn-light"&gt; </h6>
                <h6> Click me! </h6>
                <h6 class="highlighted">&lt;/button&gt;</h6>
            </div>
        </section>


        <h3>Botones block</h3>
        <button class="button btn-main-block">Click me!</button>
        <button class="button btn-secondary-block">Click me!</button>
        <button class="button btn-success-block">Click me!</button>
        <button class="button btn-warn-block">Click me!</button>
        <button class="button btn-light-block">Click me!</button>

        <section class="code">
            <div>
                <h6 class="highlighted"> &lt;button class="button btn-main-block"&gt; </h6>
                <h6> Click me! </h6>
                <h6 class="highlighted">&lt;/button&gt;</h6>
            </div>
            <div>
                <h6 class="highlighted"> &lt;button class="button btn-secondary-block"&gt; </h6>
                <h6> Click me! </h6>
                <h6 class="highlighted">&lt;/button&gt;</h6>
            </div>
            <div>
                <h6 class="highlighted"> &lt;button class="button btn-success-block"&gt; </h6>
                <h6> Click me! </h6>
                <h6 class="highlighted">&lt;/button&gt;</h6>
            </div>
            <div>
                <h6 class="highlighted"> &lt;button class="button btn-warn-block"&gt; </h6>
                <h6> Click me! </h6>
                <h6 class="highlighted">&lt;/button&gt;</h6>
            </div>
            <div>
                <h6 class="highlighted"> &lt;button class="button btn-light-block"&gt; </h6>
                <h6> Click me! </h6>
                <h6 class="highlighted">&lt;/button&gt;</h6>
            </div>
        </section>

        <h3>Inputs</h3>
        <input class="input-modal" placeholder="Type on me!" />
        <br/>
        <div class="dark">
            <input placeholder="Type on me!" />
        </div>

        <section class="code">
            <div>
                <h6 class="highlighted"> &lt;input class="input-modal" placeholder="Type on me!"/&gt;</h6>
            </div>
            <div>
                <h6 class="highlighted"> &lt;input placeholder="Type on me!"/&gt;</h6>
            </div>
        </section>
        <h3>Alerts <small> (basadas en ngprime)</small></h3>
        <p-messages [value]="msgs"></p-messages>
        <br/>
        <h3>Tareas</h3>
        <note id="b" (addWork)="onLogHours($event)" (changeTaskState)="onChangeState($event)" (notify)="onNotify($event) " [board]="'key' "
            [colKey]="'key' " [note]="p1" [noteKey]="'key'"></note>
        <note id="a" (addWork)="onLogHours($event)" (changeTaskState)="onChangeState($event)" (notify)="onNotify($event) " [board]="'key' "
            [colKey]="'key' " [note]="p2" [noteKey]="'key'"></note>
        <note id="c" (addWork)="onLogHours($event)" (changeTaskState)="onChangeState($event)" (notify)="onNotify($event) " [board]="'key' "
            [colKey]="'key' " [note]="p3" [noteKey]="'key'"></note>


        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="wrapper" data-anim="base wrapper">
            <div class="circle" data-anim="base left"></div>
            <div class="circle" data-anim="base right"></div>
        </div>

        <br>
    </section>
</section>