@import "~variables.scss";
@import "~componentes.scss";
.note-info {
    height: 600px;
    width: 600px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    header {
        width: 600px;
        display: inline-flex;
        justify-content: space-between;
        margin-bottom: 2%;
    }
    .noborder {
        border: none;
        &:focus {
            border: 1px solid $main-color;
        }
    }
    i {
        &:hover {
            .tooltip {
                visibility: visible;
                opacity: 1;
                transform: translate(-50%, -150%);
            }
        }
    }
    .badge {
        padding-left: 30px;
        padding-right: 30px;
        vertical-align: middle;
        text-align: center;
        border-radius: 2%;
        color: white;
        background: $secondary-color;
        display: flex;
        align-self: center;
    }
    textarea {
        width: 600px;
        height: 150px;
        border: none;
        outline: 0 none;
        &:focus {
            outline: 0 none;
            border: 1px solid $main-color;
        }
    }
    .blue {
        background: $secondary-color;
    }
    .divHoras {
        display: flex;
        flex-direction: column;
    }
    .inline {
        margin-top: 2%;
        display: inline-flex;
        justify-content: space-between;
    }
    .contenido {
        width: 600px;
    }
    .center {
        align-items: center;
    }
    .number-input {
        font-size: 20px;
        color: black;
        text-align: center;
    }
    progress {
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: solid 0.5px lightgray;
        border-radius: 0.5%;
    }
    progress::-webkit-progress-bar {
        background: white;
        border-radius: 5%;
    }
    progress::-webkit-progress-value {
        background-color: $secondary-color;
        border-radius: 0.5%;
    }
    progress::-moz-progress-bar {
        background-color: $secondary-color;
        border-radius: 0.5%;
        background: white;
    }
}