<section class="tablon">
    <header class="title">
        <a href="{{travisRepoUrl}}">
            <i [ngStyle]="color.getBackground()" class="fa fa-pied-piper delivery" aria-hidden="true">   
                <span [ngStyle]="color.getBackground()" class="tooltip">Ir&nbsp;a&nbsp;Travis</span>
            </i>
        </a>
        <div class="status">
            <i name="botonborrar" class="fa fa-times black" aria-hidden="true" (click)="deleteBoard()"></i>
        </div>
    </header>

    <div class="body">
        <div class="inline">
            <h3 [ngStyle]="color.getColor()">{{board.name}}</h3>
            <h3 [ngStyle]="color.getColor()">{{getDate()}}</h3>
        </div>

        <div class="inline">
            <a class="tool" name="burndown{{board.name}}" (click)="goToBurndown()">
                <i [ngStyle]="color.getBackground()" class="fa fa-area-chart iconButton" aria-hidden="true">
                   <span [ngStyle]="color.getBackground()" class="tooltip">Gráfico&nbsp;tablero</span>
                </i>

            </a>
            <a name="mytasks{{board.name}}" (click)="goToMyCharts()">
                <i [ngStyle]="color.getBackground()" class="fa fa-bar-chart iconButton" aria-hidden="true">
                    <span  [ngStyle]="color.getBackground()" class="tooltip">Gráfico&nbsp;tareas</span>
                </i>
            </a>
            <a name="github{{board.name}}" href="{{gitRepoUrl}}">
                <i [ngStyle]="color.getBackground()" class="fa fa-github iconButton" aria-hidden="true">
                    <span  [ngStyle]="color.getBackground()" class="tooltip">Ir&nbsp;a&nbsp;GitHub</span>
                </i>
            </a>
            <a name="collabs{{board.name}}" (click)="showDialogColabs()">
                <i [ngStyle]="color.getBackground()" class="fa fa-users iconButton" aria-hidden="true">
                    <span  [ngStyle]="color.getBackground()" class="tooltip">Invitar&nbsp;a&nbsp;colaborar</span>
                </i>
            </a>
            <a (click)="showDialog()">
                <i [ngStyle]="color.getBackground()" class="fa fa-wrench iconButton" aria-hidden="true">
                    <span  [ngStyle]="color.getBackground()" class="tooltip">Editar&nbsp;tarea</span>
                </i>
            </a>
        </div>
    </div>
    <hr>
    <footer class="footer">
        <a name="gotoboard{{board.name}}" [ngStyle]="color.getBackground()" (click)="goToBoard()" class="button btn-success">Ir al tablón</a>
    </footer>

</section>

<p-dialog [draggable]="false" [modal]="true" header="Editar tablero" [(visible)]="showModal">
    <createBoard [board]="board" [boardKey]="boardKey" (notify)="closeDialog()"></createBoard>
</p-dialog>


<p-dialog [draggable]="false" [modal]="true" header="Añadir colaboradores" [(visible)]="showModalColabs">
    <label>Nuevo(s) colaboador(es)</label>
    <input class="input-modal" type="text" [(ngModel)]="mailsToColab" name="mails" placeholder="Email(s)" />
    <small id="emailHelp" class="form-text text-muted">Introduce el email de los colaboradores que desees, separado por comas ej: <strong>pep@scrumme.es,cr7@scrumme.es</strong></small>
    <button name="addColab{{board.name}}" (click)="addColabs()" class="button btn-main">Añadir colaboradores</button>
</p-dialog>