<form (ngSubmit)="onSubmit()" container #createTask="ngForm">
    <label>Ponle un título descriptivo</label>
    <input class="input-modal" required type="text" required [(ngModel)]="name" name="name" placeholder="Tarea nº1">
    <label>Estima tu tarea, en horas de trabajo</label>
    <input class="input-modal" required type="number" required [(ngModel)]="horas" name="horas" placeholder="Horas de trabajo">
    <p> </p>
    <label>Explica el contenido de la tarea</label>
    <textarea class="form-control form-control-lg" required [(ngModel)]="contenido" name="contenido" placeholder="Contenido de la tarea">  </textarea>
    <hr/>
    <button href="/board" class="button btn-main"> Crear Tarea </button>
</form>