@import "~variables.scss";
@import "~componentes.scss";
.section-main {
    background: #f8f8f8;
    .section-main-in {
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 5%;
        h1 {
            color: $main-color;
        }
        h3 {
            color: lightslategray;
        }
        .inline {
            display: inline-flex;
            justify-content: space-between;
        }
        .dark {
            background: $bg-color;
        }
    }
}

@mixin color($bg) {
    padding: 20px;
    margin: 12px;
    background: $bg;
    &:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
}

.color-main {
    @include color($main-color);
}

.color-main-dark {
    @include color($main-color-dark);
}

.color-secondary {
    @include color($secondary-color);
}

.color-secondary-dark {
    @include color($secondary-color-dark);
}

.color-background {
    @include color($bg-color);
}

.color-success {
    @include color($success-color);
}

.color-warn {
    @include color($warn-color);
}

.color-pink {
    @include color($pink-color);
}

$succes-color: #334431;
$warn-color: #e05038;
$pink-color: #f2cbbc;
.code {
    background: $bg-color;
    padding: 1%;
    width: auto;
    max-width: auto;
    margin: 1%;
    display: flex;
    flex-direction: column;
    div {
        margin-left: 5%;
        margin-right: 5%;
        color: white;
        display: inline-flex;
    }
    .highlighted {
        color: $main-color;
    }
}

div .ui-messages .ui-widget .ui-corner-all .ui-messages-error {
    background: blue!important;
}

.tablon {
    background: $bg-white-color;
    max-width: 600px;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: all .3s ease;
    padding: 0 10px;
    height: 420px;
    .title {
        text-align: center;
        padding: 10px 0;
    }
    .delivery {
        font-size: 2.5em;
        line-height: 2em;
        border-radius: 50%;
        background-color: $success-color;
        height: 75px;
        width: 75px;
        color: #fff;
        margin-top: -6em;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
    .footer {
        display: flex;
        align-items: flex-end;
        float: right;
    }
    .status {
        margin: 1%;
        display: flex;
        align-items: flex-end;
        float: right;
        i {
            float: right;
            font-size: 25px;
        }
    }
}

.tablon {
    background: $bg-white-color;
    width: 480px;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: all .3s ease;
    padding: 0 10px;
    height: 260px;
    a {
        color: white;
    }
    .title {
        text-align: center;
        padding: 10px 0;
    }
    h3 {
        color: darken($success-color, 10%);
    }
    .delivery {
        font-size: 2.5em;
        line-height: 2em;
        border-radius: 50%;
        background-color: $success-color;
        height: 75px;
        width: 75px;
        color: #fff;
        margin-top: -6em;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
    .inline {
        display: inline-flex;
        justify-content: space-between;
        width: 460px;
    }
    .footer {
        display: flex;
        align-items: flex-end;
        float: right;
    }
    .iconButton {
        padding: 12px;
        color: white;
        background: $success-color;
        border-radius: 50%;
    }
    .iconButton:hover {
        transform: rotate(-45deg);
    }
    .status {
        margin: 1%;
        display: flex;
        align-items: flex-end;
        float: right;
        i {
            float: right;
            font-size: 25px;
        }
    }
}