@import "~componentes.scss";
@import "~variables.scss";
div {
    color: $main-color;
    margin: 1%;
}

.header {
    background: $secondary-color;
    color: #fff;
    text-align: center;
}

.centerText {
    text-align: center;
}

.scroll {
    overflow: scroll;
    height: 60vh;
}

::-webkit-scrollbar {
    display: none;
}

.asignee {
    background: $secondary-color;
    color: #fff;
    padding: 2%;
    border-radius: 10%;
}