@import "~componentes.scss";
@import "~variables.scss";
div {
    color: $main-color;
    margin: 1%;
}

.scrollDiv {
    background: #F8F8F8;
    overflow: scroll;
    height: 65vh;
    min-width: 320px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

::-webkit-scrollbar {
    display: none;
}