<div class="scroll">
    <table>
        <tr class="header">
            <td>Titulo de tarea</td>
            <td>Programador asignado</td>
            <td>Descripción</td>
            <td>Convertir a tarea</td>
        </tr>
        <tr *ngFor="let issue of issues">
            <td> {{issue.title}} </td>
            <td class="centerText"><span class="asignee"> {{issue.assignee}}</span> </td>
            <td> {{issue.body}} </td>
            <td> <button class="button btn-main" (click)="onclick(issue)">Convertir a tarea</button> </td>
        </tr>
    </table>
</div>