<section class="tablon">
    <header class="title">
        <a href="https://travis-ci.org/Arquisoft/Voting_2b">
            <i [ngStyle]="travisStyles" class="fa fa-pied-piper delivery" aria-hidden="true"></i></a>
        <div class="status">
            <i class="fa fa-times " aria-hidden="true" (click)="deleteBoard(board.$key)"></i>
        </div>
    </header>

    <div class="body">
        <div class="inline">
            <h3>{{board.name}}</h3>
            <h3>{{board.date}}</h3>
        </div>

        <div class="inline">
            <a (click)="goToBurndown()"> <i class="fa fa-area-chart iconButton" aria-hidden="true"></i></a>
            <a (click)="goToMyCharts()"> <i class="fa fa-bar-chart iconButton" aria-hidden="true"></i> </a>
            <a (click)="console.log( 'Github')"> <i class="fa fa-github iconButton" aria-hidden="true"></i> </a>
            <a (click)="console.log( 'Config')"> <i class="fa fa-wrench iconButton" aria-hidden="true"></i> </a>

        </div>
    </div>
    <hr>
    <footer class="footer">
        <a (click)="goToBoard()" class="button btn-success">Ir al tablón</a>
    </footer>

</section>