<div container>
    <fieldset class="fieldset">
        <legend>Iniciar sesión</legend>

        <div column="6">

            <input required type="email" #email placeholder="Email" />
            <p> </p>
            <input required type="password" #password placeholder="Contraseña" />
            <hr/>
            <button class="bg--success" (click)="login(email.value,password.value)">Inciar</button>
            <button class="bg--success" (click)="logout()">Salir</button>
            <button class="bg--success" (click)="getUser()">GetUser</button>

        </div>

    </fieldset>
</div>