<div class="container">
    <form (ngSubmit)="onSubmit()" class="form" #login="ngForm">
        <fieldset class="fieldset">
            <legend>Iniciar sesión</legend>

            <ngb-alert *ngIf="authed" type="danger" [dismissible]="true" (close)="authed = false">
                <strong>Error!</strong> {{issue}}
            </ngb-alert>

            <div column="6">
                <input class="form-control" required type="email" required [(ngModel)]="email" name="email" placeholder="Email" />
                <p> </p>
                <input class="form-control" required type="password" required [(ngModel)]="password" name="password" placeholder="Contraseña"
                />
                <p> </p>
                <hr/>
                <button class="btn btn-warning">Iniciar</button>
                <a routerLink="/signup" class="btn btn-link"> <small class="form-text text-muted">¿Aún no tienes cuenta? Registrate siguiendo este enlace </small></a>


            </div>

        </fieldset>
    </form>
</div>