<!-- Meter una clase de css para centrar en la pantalla  -->
<br/>
<br/>
<br/>


<div class="ui-g">

    <div class="ui-g-3"> </div>


    <div class="ui-g-6">

        <form (ngSubmit)="onSubmit()" class="form" #login="ngForm">
            <fieldset class="fieldset">
                <legend>Iniciar sesión</legend>
                <hr/>

                <p-messages [value]="msgs"></p-messages>
                <input class="form-control" required type="email" required [(ngModel)]="email" name="email" placeholder="Email" />
                <p> </p>
                <input class="form-control" required type="password" required [(ngModel)]="password" name="password" placeholder="Contraseña"
                />
                <p> </p>
                <hr/>
                <button class="btn btn-warning">Iniciar</button>
                <a routerLink="/signup" class="btn btn-link"> <small class="form-text text-muted">¿Aún no tienes cuenta? Registrate siguiendo este enlace </small></a>

            </fieldset>
        </form>
    </div>
</div>